@import "tailwindcss";

/* Minor helpers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Modal backdrop smoothing on mobile */
.fixed.inset-0 {
  -webkit-tap-highlight-color: transparent;
}
